@if (history()) {
  <div class="mat-elevation-z8" style="position: relative; width: 350px; height: 200px; margin: 10px;">
    <canvas baseChart [data]="winRateData" [options]="winRateOptions" [type]="'line'"></canvas>
  </div>
  <div class="mat-elevation-z8" style="position: relative; width: 350px; height: 200px; margin: 10px;">
    <canvas baseChart [data]="damageData" [options]="damageOptions" [type]="'line'"></canvas>
  </div>
  <div class="mat-elevation-z8" style="position: relative; width: 350px; height: 200px; margin: 10px;">
    <canvas baseChart [data]="xpData" [options]="xpOptions" [type]="'line'"></canvas>
  </div>
}
