<h2 class="mat-h2">World of Tanks <img src="./assets/account/wtrIcon_24.png"/></h2>

@if (wotPlayerPersonalData) {
  @if (wotPlayerPersonalData.private) {
    <div class="wot-resources">
      <div class="parameter-item">
        <img src="./assets/account/GoldIcon-24.png"/> {{ wotPlayerPersonalData.private.gold | number }}
      </div>
      <div class="parameter-item">
        <img src="./assets/account/CreditsIcon-3.png"/> {{ wotPlayerPersonalData.private.credits | number }}
      </div>
      <div class="parameter-item">
        <img src="./assets/account/CrystalIcon-24.png"/> {{ wotPlayerPersonalData.private.bonds | number }}
      </div>
      <div class="parameter-item">
        <img src="./assets/account/freeXPIconBig24x24.png"/> {{ wotPlayerPersonalData.private.free_xp | number }}
      </div>
    </div>
  }
  @if(wotPlayerPersonalData.statistics.all && wotPlayerPersonalData.statistics.all.battles > 0) {
    <div class="wot-resources">
      <div class="parameter-item">
        <img src="./assets/account/battle.png"/> {{ wotPlayerPersonalData.statistics.all.battles | number }} | {{(100 * wotPlayerPersonalData.statistics.all.wins / wotPlayerPersonalData.statistics.all.battles) | number: '1.0-0'}}%
      </div>
      <div class="parameter-item">
        <img src="./assets/kpi/damage.png"/> {{(wotPlayerPersonalData.statistics.all.damage_dealt / wotPlayerPersonalData.statistics.all.battles) | number: '1.0-0'}}
      </div>
      <div class="parameter-item">
        <img
          src="./assets/account/XpIconBig-2.png"/> {{ (wotPlayerPersonalData.statistics.all.xp / wotPlayerPersonalData.statistics.all.battles) | number: '1.0-0' }}
      </div>
      <div class="parameter-item">
        <img
          src="./assets/account/icon_battle_condition_survive_128x128.png"/> {{ 100*(wotPlayerPersonalData.statistics.all.survived_battles / wotPlayerPersonalData.statistics.all.battles) | number: '1.0-0' }}%
      </div>
    </div>
  }
  <span class="display-1">Last battle: {{ wotPlayerPersonalData.last_battle_time * 1000 | date: 'dd.MM.yyyy HH:mm' }}</span>
  <span class="mat-small" style="margin-top: 15px;">Registration date: {{ wotPlayerPersonalData.created_at * 1000 | date: 'dd.MM.yyyy' }}</span>

}
